<h3> Showing post: </h3>  

<%= link_to @post.title, fix_url(@post.url) %>
<%= render 'shared/errors', obj: @comment %>
</br>
</br>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :body %>
</br>
  <%= f.submit 'Create Comment' %>
  <% end %>
 
<h5> Comments </h5>
<ul>
  <% @post.reload.comments.each do |comment| %>
    <li> <%= comment.body %> </li>
  <% end %>
</ul>

</br>
<h5> Categories </h5>
<ul> 
  <%@post.reload.categories.each do |category| %>
    <li> <%= link_to category.name, category_path(category) %> </li>
    <% end %>
</ul>
