<h3> Showing post: </h3>  

<%= link_to @post.title, fix_url(@post.url) %>
<%= render 'shared/errors', obj: @comment %>
</br>
</br>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :body %>
</br>
  <%= f.submit 'Create Comment' %>
  <% end %>
 
<h5> Comments </h5>

  <% @post.reload.comments.each do |comment| %>
   

      <% if logged_in? %>

  <%= link_to vote_post_comment_path(comment.post, comment, vote: 'true'), method: 'post', remote: true do %>
    <i class= 'icon-arrow-up'></i>
  <% end %>
<% end %>

</br>

<span id='comment_<%= comment.id %>_votes'> <%= comment.total_votes %> </span>

  <%= comment.body %> 


</br>

<% if logged_in? %>

  <%= link_to vote_post_comment_path(comment.post, comment, vote: 'false'), method: 'post', remote: true do %>
    <i class= 'icon-arrow-down'></i>
  <% end %>

<% end %>
</br>
</br>

  <% end %>
</ul>

</br>
<h5> Categories </h5>
<ul> 
  <%@post.reload.categories.each do |category| %>
    <li> <%= link_to category.name, category_path(category) %> </li>
    <% end %>
</ul>
